{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "scope-enum": [
      2,
      "always",
      [
        "ovtop",
        "jest-transformer",
        "webpack-loader",
        "rollup-plugin"
      ]
    ]
  }
}
