{
  "extends": [
    "@commitlint/config-conventional"
  ],
  "rules": {
    "scope-enum": [
      2,
      "always",
      [
        "json-map-keys",
        "loader",
        "rollup"
        "jest-transformer",
      ]
    ]
  }
}
